{% extends 'office-base.html' %}

{% block title %}Office | Gallary Image{% endblock %}

{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
        <h5>Official : <span style="color: red;">{{ request.user.school | title }}</span></h5>
        <h5>Gallary</h5>
    </div>

    <!--class routine section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Upload Image</span>

                <p>
                    In this section official can publish Image.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'office:gallary-image-create' %}">Upload Image</a>
            </div>
        </div>
    </div>
    <!--end class routine section-->

    <!--exam routine section-->
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">View Image</span>
                <p>
                    In this section official can view and delete image.
                </p>
            </div>

            <div class="card-action">
                <a href="{% url 'office:gallary-image-view' %}">View Image</a>
            </div>
        </div>
    </div>
    <!--end exam routine section-->
{% endblock %}
