<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration | School</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1 hoverable" style="">
                    <form method="post" enctype="multipart/form-data" style="margin-top: 40px;">
                        {% csrf_token %}

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">school</i>
                            {{ schoolForm.name }}
                            <label for="icon_prefix white-text">School Name</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">create</i>
                            {{ schoolForm.description }}
                            <label for="icon_prefix white-text">School Description</label>
                        </div>

                        <div class="input-field col s12 m6 l6">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Logo</span>
                                    {{ schoolForm.logo }}
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s12 m6 l6">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Banner</span>
                                    {{ schoolForm.banner }}
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>

                        <div style="" class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">location_on</i>
                            {{ schoolForm.address }}
                            <label for="icon_prefix white-text">Address</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">cloud_queue</i>
                            {{ schoolForm.website }}
                            <label for="icon_prefix white-text">Website</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">call</i>
                            {{ schoolForm.phone }}
                            <label for="icon_prefix white-text">Phone</label>
                        </div>

                        <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                            <button class="btn waves-effect waves-light" type="submit" style="">Registration
                                <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col s12 m6 l6 center-align" style="border-left: 1px solid #333; min-height: 670px;">
                {% if schoolForm.non_field_errors %}
                    <h4 style="color: red;">
                        Register As School
                    </h4>
                {% else %}
                    <h4 style="">
                        Register As School
                    </h4>
                {% endif %}

                {% if schoolForm.non_field_errors %}
                    <p style="font-size: 250px; color: red;">
                        &#128551;
                    </p>
                {% else %}
                    <p style="font-size: 250px;">
                        &#128525;
                    </p>

                    <h5>Nice To See You</h5>
                {% endif %}

                {% if schoolForm.non_field_errors %}
                    {% for error in schoolForm.non_field_errors %}
                        <div class="col s12 m12 l12 center-align">
                            <h4 style="color: red;">Sorry ! Some Issue Found ,</h4>
                            <p style="color: red; font-size: 20px;">
                                {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
