<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6" style="">
                <div class="col s12 m10 offset-m1 l10 offset-l1 hoverable" style="margin-top: 100px;">
                    <form method="post" style="margin-top: 40px;">
                        {% csrf_token %}

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ loginForm.username }}
                            <label for="icon_prefix white-text">User Name</label>
                        </div>


                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">lock</i>
                            {{ loginForm.password }}
                            <label for="icon_prefix white-text">Password</label>
                        </div>

                        <div class="col s12 m12 l12 center-align" style="margin-bottom: 50px;">
                            <button class="btn waves-effect waves-light" type="submit" style="">Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col s12 m6 l6 center-align" style="border-left: 1px solid #333; min-height: 670px;">
                {% if loginForm.non_field_errors %}
                    <h4 style="color: red;">
                        Login
                    </h4>
                {% else %}
                    <h4 style="">
                        Login
                    </h4>
                {% endif %}

                {% if loginForm.non_field_errors %}
                    <p style="font-size: 250px; color: red;">
                        &#128551;
                    </p>
                {% else %}
                    <p style="font-size: 250px;">
                        &#128525;
                    </p>

                    <h5>Enter Login Credentials</h5>
                {% endif %}

                {% if loginForm.non_field_errors %}
                    {% for error in loginForm.non_field_errors %}
                        <div class="col s12 m12 l12 center-align">
                            <h4 style="color: red;">Sorry ! Some Issue Found ,</h4>
                            <p style="color: red; font-size: 20px;">
                                {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
